// Global Variable

$main-color: #ff2c9c;
$gradient-color: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
$main-font-family: 'Inter', sans-serif;
$heading-font-family: 'Saira', sans-serif;
$black-color: #18181b;
$paragraph-color: #646464;
$white-color: #ffffff;
$transition: all 0.6s ease;

.bg-dark {
    background-color: #06080e !important;
    .section-title {
        h2, p {
            color: #fff;
        }
    }
}
.with-black-border {
    border-top: 1px solid #12141a;
    border-bottom: 1px solid #12141a;
}

/* Saas Banner Area CSS */
.saas-banner-area {
    background-color: #06080e;
    padding-top: 180px;

    .container-fluid {
        padding: {
            right: 30px;
            left: 30px;
        };
        max-width: 1920px;
    }
}
.saas-banner-content {
    margin-left: auto;
    max-width: 710px;

    h1 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 64px;
    }
    p {
        opacity: 0.9;
        max-width: 535px;
        color: #fff;
    }
    .default-btn-two {
        margin-top: 10px;
    }
}
.saas-banner-image {
    text-align: center;
}

/* About */
.saas-about-content {
    padding-left: 15px;

    .sub-title {
        display: block;
        margin-bottom: 12px;
        color: $main-color;
        font: {
            weight: 600;
            size: 14px;
        };
    }
    h2 {
        margin-bottom: 15px;
        font-size: 40px;
        line-height: 1.3;
    }
    .features-list {
        padding-left: 0;
        margin-bottom: 15px;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            position: relative;
            font-weight: 500;
            padding-left: 24px;

            i {
                position: absolute;
                left: 0;
                top: 2px;
                color: $main-color;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .default-btn-two {
        margin-top: 15px;
    }
    &.white-color {
        color: #fff;

        h2 {
            color: #fff;
        }
        p {
            color: #fff;
            opacity: 0.9;
        }
        .features-list {
            li {
                color: #fff;
                opacity: 0.9;

                i {
                    color: #fff;
                }
            }
        }
    }
}
.saas-about-image {
    padding-right: 15px;
    text-align: center;
}

/* Services */
.saas-services-box {
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    padding: 35px 30px;
    transition: $transition;

    .icon {
        font-size: 60px;
        line-height: 1;
        background: $gradient-color; 
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 22px;
        display: block;
    }
    h3 {
        margin-bottom: 12px;
        font-size: 20px;

        a {
            &:hover {
                color: $main-color;
            }
        }
    }
    &.color-white {
        border-color: #272836;
        background-color: #040611;

        h3 {
            color: #fff;

            a {
                color: #fff;
            }
        }
        p {
            opacity: 0.9;
            color: #fff;
        }
    }
    &:hover {
        border-color: $main-color !important;
    }
}

/* How It Works Area CSS */
.saas-how-it-works-content {
    padding-right: 30px;

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 30px;
            position: relative;
            padding-left: 65px;

            i {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 45px;
                background: $gradient-color; 
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 12px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.white-color {
        ul {
            li {
                color: #fff;
    
                h3 {
                    color: #fff;
                }
                p {
                    color: #fff;
                    opacity: 0.9;
                }
            }
        }
    }
}
.saas-how-it-works-image {
    text-align: center;
}

/* Pricing */
.saas-pricing-tabs {
    .react-tabs {
        margin-top: -10px;

        .react-tabs__tab-list {
            padding-left: 0;
            margin-bottom: 50px;
            list-style-type: none;
            justify-content: center;
            border-bottom: none;
            text-align: center;
            
            .react-tabs__tab {
                background-color: #fff;
                position: relative;
                z-index: 1;
                color: $black-color;
                display: inline-block;
                border-radius: 0;
                border: none;
                padding: 11px 35px;
                cursor: pointer;
                font: {
                    size: 15px;
                    weight: 700;
                };
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    background: $gradient-color;
                    transition: $transition;
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover, &.react-tabs__tab--selected {
                    color: #fff;
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:first-child {
                    border-radius: 5px 0 0 5px;
                    &::before {
                        border-radius: 5px 0 0 5px;
                    }
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                    &::before {
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }
    }
}

.saas-pricing-box {
    margin-bottom: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, .1);
    padding: 30px;

    .pricing-header {
        background: $main-color;
        margin: -30px -30px 30px;
        padding: 30px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        h3 {
            margin-bottom: 15px;
            font-size: 20px;
            color: #fff;
        }
        .price {
            color: #fff;
            margin-bottom: 12px;
            line-height: 1;
            font: {
                weight: 700;
                size: 45px;
            };
            span {
                opacity: 0.9;
                font: {
                    size: 15px;
                    weight: normal;
                };
            }
        }
        &::before {
            width: 400px;
            height: 400px;
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            bottom: 10px;
            background-color: #0084ff;
            opacity: 0.1;
            z-index: -1;
            transition: $transition;
        }
    }
    .features-list {
        padding-left: 0;
        margin-bottom: 30px;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            position: relative;

            &.unactive {
                text-decoration: line-through;
                color: #9b9dbb;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .default-btn {
        background: transparent;
        color: var(--blackColor);
        border: 1px solid $main-color;
        box-shadow: unset;

        i {
            color: var(--blackColor);
        }
        &:hover {
            background: $main-color;
            border-color: $main-color;
            color: #fff;

            i {
                color: #fff;
            }
        }
    }
    &.saas-color {
        .pricing-header {
            background: $gradient-color;
            
            &::before {
                background-color: $main-color;
            }
        }
        .default-btn {
            border-color: #4d4d57;;

            &:hover {
                background: $main-color;
                border-color: $main-color;
            }
        }
    }
    &.bg-black {
        box-shadow: unset;
        background-color: #040611;
        border: 1px solid #272836;
        transition: $transition;
        
        .pricing-header {
            transition: $transition;
            background: transparent;
            border-bottom: 1px solid #272836;
            padding: 0 0 30px;
            margin: {
                top: 0;
                left: 0;
                right: 0;
            };
            &::before {
                display: none;
            }
        }
        .features-list {
            color: #fff;

            li {
                color: #fff;

                &.unactive {
                    color: #5c5656;
                }
            }
        }
        .default-btn {
            color: #fff;

            i {
                color: #fff;
            }
        }
    }
    &:hover {
        .pricing-header {
            &::before {
                bottom: -185%;
            }
        }
    }
    &.active {
        .default-btn {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
            background: $main-color;
            color: #fff;
            border: none;

            i {
                color: #fff;
            }
            &.saas-color {
                background: $gradient-color;
            }
        }
    }
}

/* Video Area CSS */
.saas-video-box {
    text-align: center;
    position: relative;

    img {
        width: 100%;
    }
    .video-btn {
        position: absolute;
        left: 50%;
        display: inline-block;
        top: 40%;
        transform: translateY(-40%) translateX(-50%);
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        color: #000;
        font-size: 30px;
        cursor: pointer;

        i {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 2px solid $main-color;
        }
        &::before {
            animation: ripple 2s linear infinite
        }
        &::after {
            animation: ripple 2s linear 1s infinite
        }
    }
}

/* Testimonials */
.saas-testimonials-item {
    border: 1px solid #242532;
    background-color: rgba(4, 6, 17, .90);
    padding: 30px;

    .info {
        margin-bottom: 25px;

        img {
            display: inline-block !important;
            width: 80px !important;
            height: 80px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .title {
            margin-left: 10px;

            h3 {
                font-size: 18px;
                margin-bottom: 8px;
                color: #fff;
            }
            span {
                display: block;
                font-weight: 600;
                color: $main-color;
            }
        }
    }
    p {
        font-size: 16px;
        color: #fff;
    }
}

/* Blog Post */
.saas-post-item {
    margin-bottom: 30px;
    box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, .1);

    .post-content {
        padding: 25px;

        .tag {
            margin-bottom: 14px;
            display: inline-block;
            position: relative;
            padding-left: 24px;
            font-weight: 600;
         
            i {
                position: absolute;
                left: 0;
                top: 4px;
            }
        }
        .meta {
            padding-left: 0;
            margin-bottom: 13px;
            list-style-type: none;

            li {
                display: inline-block;
                margin-right: 15px;
                position: relative;
                padding-left: 22px;
                font-size: 14px;
             
                i {
                    position: absolute;
                    left: 0;
                    top: 4px; 
                }
            }
        }
        h3 {
            margin-bottom: 14px;
            line-height: 1.4;
            font-size: 20px;
        }
        .link-btn {
            font-weight: 600;
            position: relative;
            display: inline-block;
            padding-right: 12px;

            i {
                position: absolute;
                right: 0;
                top: 7px;
                font-size: 12px;
            }
            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0%;
                height: 1px;
                background-color: $main-color;
                transition: $transition;
            }
            &:hover {
                padding-right: 15px;
                color: $main-color;
    
                &::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
    &.bg-black {
        background-color: #040611;
        box-shadow: unset;
        border: 1px solid #272836;
        transition: $transition;

        .post-content {
            .tag {
                color: $main-color;
            }
            .meta {
                color: #fff;;
    
                li {
                    color: #fff;;
    
                    i {
                        color: $main-color;
                    }
                    a {
                        color: #fff;;
    
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
            h3 {
                color: #fff;

                a {
                    color: #fff;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
            p {
                color: #fff;
                opacity: 0.9;
            }
            .link-btn {
                color: #fff;

                &::before {
                    background: $gradient-color;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
        &:hover {
            border-color: #fff;
        }
    }
}
.saas-testimonials {
    position: relative;
    margin-top: -100px;
    padding-left: 80px;
    padding-right: 80px;
}
.saas-testimonials-slides {
    .swiper-button-prev {
        left: 5px;
        top: 20px;
        &:after {
            color: $main-color;
            font-size: 26px;
        }
    }
    .swiper-button-next {
        right: 5px;
        top: 20px;
        &:after {
            color: $main-color;
            font-size: 26px;
        }
    }
}


/* Responsive CSS 
==============================*/ 
@media only screen and (max-width : 767px) {
    .saas-banner-area {
        padding-top: 120px;
        text-align: center;
        h1 {
            font-size: 30px;
        }
        p {
            margin-left: auto;
            margin-right: auto;
        }
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .saas-banner-image {
        margin-top: 30px;
    }
    .saas-about-image {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .saas-about-content {
        padding-left: 0;
        h2 {
            font-size: 25px;
        }
    }
    .saas-how-it-works-image {
        margin-top: 30px;
    }
    .saas-pricing-tabs {
        .react-tabs {
            .react-tabs__tab-list {
                margin-bottom: 30px;
            }
        }
    }
    .saas-pricing-box {
        padding: 30px 15px;
    }
    .saas-testimonials-item {
        padding: 20px;
        p {
            font-size: 15px;
        }
    }
    .saas-video-box {
        .video-btn {
            width: 55px;
            height: 55px;
            font-size: 22px;
        }
    }
    .saas-testimonials {
        position: relative;
        margin-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width : 576px) and (max-width : 767px) {

}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    .saas-banner-area {
        padding-top: 120px;
        text-align: center;
        h1 {
            font-size: 45px;
        }
        p {
            margin-left: auto;
            margin-right: auto;
        }
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .saas-banner-image {
        margin-top: 30px;
    }
    .saas-about-image {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .saas-about-content {
        padding-left: 0;
    }
    .saas-how-it-works-image {
        margin-top: 30px;
    }
    .saas-testimonials {
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .saas-banner-content {
        h1 {
            font-size: 40px;
        }
    }
    .saas-about-content {
        h2 {
            font-size: 30px;
        }
    }
    .saas-testimonials {
        margin-top: -45px;
    }
}

@media only screen and (min-width : 1200px) and (max-width : 1399px) {

}